<div class = "main">
  <div class="music-left">
    <div class="banner">
      <%= image_tag("22.jpg") %>
    </div>
    <div class="album1">
      <div class="title">
        <h1> New Realeases </h1>
      </div>
      <%= image_tag("v1.jpg") %>
      <%= image_tag("v2.jpg") %>
      <%= image_tag("v3.jpg") %>
      <%= image_tag("v4.jpg") %>
      <%= image_tag("v5.jpg") %>
      <%= image_tag("v6.jpg") %>
      <%= image_tag("v7.jpg") %>
      <%= image_tag("v8.jpg") %>
    </div>
    <div class="album2">
      <div class="title">
        <h1> Discover </h1>
      </div>
      <%= image_tag("v11.jpg") %>
      <%= image_tag("v22.jpg") %>
      <%= image_tag("v33.jpg") %>
      <%= image_tag("v44.jpg") %>
      <%= image_tag("v55.jpg") %>
      <%= image_tag("v66.jpg") %>
      <%= image_tag("v77.jpg") %>
      <%= image_tag("v88.jpg") %>
    </div>
  </div>
  <div class="music-right">
    <div class="video-main">
      <%= video_tag "Ellie-Goulding.webm" , :controls => true %>
    </div>
    <div class="playlist-main">
      <div class="song">   1. Song 1   </div>
      <div class="song">   2. Song 2   </div>
      <div class="song">   3. Song 3   </div>
      <div class="song">   4. Song 4   </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
